.phone-screen {
    background-color: var(--light);
    color: tomato;
}

.phone-screen-phone {
    color: tomato;
    text-decoration: none;
}
.phone-screen-phone:hover {
    color: tomato;
    text-decoration: none;
}