.services-screen {
    background-color: var(--light);
}

.services-screen-title {
    color: var(--dark);
}

.service-grid {
    margin-top: 50px;
}

.services-item {
    height: 250px;
    padding: 16px;
    margin: 0px 5px 25px 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
}

.services-item:hover {
    background-color: white;
    transition-duration: 0.3s;
}

.services-item-head {
    display: flex;
    justify-content: space-between;
}

.services-item-head > img {
    height: 1.9rem;
}

.services-item-description p {
    height: 100px;
    padding-top: 20px;
}

.last-item-desc > a {
    text-decoration: none;
    color: var(--light);
    font-size: 1.25rem;
}

.services-item-button {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--dark);
    color: var(--dark);
    border-radius: 50px;
    line-height: 1rem;
}

.services-item-button:hover {
    text-decoration: none;
    border: 1px solid var(--accidental);
    color: var(--light);
    background-color: var(--accidental);
    transition-duration: 0.3s;
}

/* ----- Adaptation ----- */

@media (max-width: 767px) {
    /* стили для xs-устройств */
    .services-item {
        margin: 0px 0px 25px 0px;
        opacity: 100%;
        background-color: white;
    }

    .services-item-button {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    .services-item {
        margin: 0px 0px 25px 0px;
        opacity: 100%;
        background-color: white;
    }

}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
    .services-item-button {
        margin-top: 45px;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}

@media (min-width: 1200px) {
    /* стили для lg-устройств */
    
}

