body {
    font-family: 'Montserrat Alternates', sans-serif;
}

header, footer, .services-screen, .steps-screen, .numbers-screen, .about-screen, .galery-screen, .price-screen, .useful-info-screen, .reviews-screen, .phone-screen {
    padding-top: 74px;
    padding-bottom: 74px;
}

h2 {
    text-align: center;
}



/* ----- Adaptation ----- */

@media (max-width: 767px) {
  .phone-grid > h2 {
      font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */


}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */

}

@media (min-width: 1200px) {
    /* стили для lg-устройств */
    
}