.reviews-screen {
  padding: 80px 0;
  color: $light-color;
  background-color: $dark-color;
}

.reviews-screen__title {
  margin-bottom: 50px;
  color: $light-color;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
}

.reviews-screen__carousel {
  margin-bottom: 86px;
}

.carousel-indicators {
  top: auto;
  bottom: -60px;
}

.feedback-button-icon {
  transition: 0.3s ease;
  fill: $light-color;
}

.feedback-button {
  width: 288px;
  margin: 0 auto;
  color: $light-color;
  background: none;
  border-color: $light-color;

  &:active {
    border-color: $light-color;
    opacity: 0.6;
  }
}

@media (hover: hover) and (pointer: fine) {
  .feedback-button:hover {
    color: $dark-color;
    background-color: $light-color;
    border: 1px solid $light-color;
  }

  .feedback-button:hover .feedback-button-icon {
    fill: $dark-color;
  }

  .feedback-button:active {
    color: $dark-color;
    background-color: $light-color;
    border: 1px solid $light-color;
  }

  .feedback-button:active .feedback-button-icon {
    fill: $dark-color;
  }
}

@media (max-width: 768px) {
  .reviews-screen__carousel {
    margin-bottom: 76px;
  }

  .carousel-indicators {
    bottom: -65px;
  }

  .carousel-control-mobile {
    top: auto;
    bottom: -55px;
  }
}
