<div class="modal fade feedback-modal" id="feedback-modal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header feedback-modal-header">
        <h3 class="modal-title feedback-modal-title" id="feedbackModalLabel">Оставить свой отзыв</h3>
        <button type="button" class="modal-close-button feedback-modal-close-button" data-bs-dismiss="modal" aria-label="Close">
          <svg class="modal-close-icon" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"/>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        .feedback-modal__content
          form.feedback-modal__form
            <input type="hidden" name="project_name" value="remontbayanov">
            <input type="hidden" name="admin_email" value="remontbayanov@mail.ru">
            <input type="hidden" name="form_subject" value="Сообщение из формы обратной связи">

            <input class="feedback-modal__form-input" type="text" name="Имя" placeholder="Ваше имя" maxlength="70" required>
            <input class="feedback-modal__form-input" type="email" name="E-mail" placeholder="Ваш e-mail" maxlength="70" required>
            <textarea class="feedback-modal__form-input feedback-modal__form-textarea" name="Текст сообщения" placeholder="Тескт сообщения" required></textarea>
            .feedback-modal__button-block
              button(class="button feedback-modal__form-button" type="submit") Отправить сообщение
                <svg class="button-icon" width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8 7L1.51351 0L4.76837e-07 1.63333L4.97297 7L4.76837e-07 12.3667L1.51351 14L8 7Z"/>
                </svg>
              p.feedback-modal__privicy-text Нажимая на кнопку "отправить сообщение"<br>вы соглашаетесь с <a class="privicy-link" href="politica.html" target="_blank"> политикой конфеденциальности.</a>
      </div>
    </div>
  </div>
</div>
