.button svg {
  fill: $main-color;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
  color: $main-color;
  text-align: left;
  border: 1px solid $main-color;
  border-radius: 50px;
  transition: 0.5s;

  &:hover {
    color: $light-color;
    background-color: $main-color;
  }

  &:active {
    background-color: $button-active;
    border: 1px solid $button-active;
  }

  &:hover svg {
    transition: 1s;
    fill: $light-color;
  }
}
