section.services-screen
  .container-custom
    h2.services-screen__title#services-screen Услуги
    .services-screen__grid
      .services-screen__item
        .services-screen__item-head
          h3.services-screen__item-title Ремонт
          <svg width="36" height="36" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" fill="#2C2C2C"><path d="M24.47 10.909a.704.704 0 1 0-.002 1.407.704.704 0 0 0 .002-1.407ZM11.67 23.684a.704.704 0 1 0-.002 1.407.704.704 0 0 0 .002-1.407Z"/><path d="M35.23 4.326a.705.705 0 0 0-.66.19l-2.92 2.937h-1.401L28.708 5.86V4.442l2.878-2.916a.702.702 0 0 0-.276-1.16A7.04 7.04 0 0 0 29.06 0a6.971 6.971 0 0 0-5.72 2.93c-1.254 1.743-1.64 3.879-1.087 5.923l-5.189 5.18-8.646-8.65V3.687a.703.703 0 0 0-.342-.602L3.096.1a.705.705 0 0 0-.861.106L.242 2.194a.703.703 0 0 0-.106.86l2.989 4.971a.705.705 0 0 0 .604.341h1.7l8.646 8.65-5.17 5.159A6.978 6.978 0 0 0 2.97 23.26a6.947 6.947 0 0 0-2.934 5.707c0 .768.124 1.524.368 2.245a.703.703 0 0 0 1.167.271l2.92-2.938h1.408l1.605 1.601v1.405l-2.944 2.915a.702.702 0 0 0 .271 1.166c.723.243 1.48.366 2.25.366a6.97 6.97 0 0 0 5.718-2.928c1.255-1.744 1.642-3.88 1.089-5.925l4.151-4.144.951 1.031-.436.436a.702.702 0 0 0 0 .994.706.706 0 0 0 .997 0l.395-.394 8.923 9.674.02.02a4.232 4.232 0 0 0 5.979 0 4.22 4.22 0 0 0-.022-5.987l-9.708-8.889.39-.39a.702.702 0 0 0 0-.994.706.706 0 0 0-.996 0l-.433.433-1.035-.948 4.172-4.164a7.072 7.072 0 0 0 1.825.238c3.884 0 7.045-3.154 7.045-7.03 0-.769-.124-1.524-.368-2.246a.703.703 0 0 0-.508-.46ZM6.22 7.167a.698.698 0 0 0-.499-.2H4.128l-2.5-4.166 1.214-1.212 4.167 2.496v1.59c0 .186.074.365.206.497l8.853 8.855-.997.994L6.22 7.167Zm17.92 13.716 9.74 8.919a2.813 2.813 0 0 1-.01 3.968 2.822 2.822 0 0 1-3.976.01l-8.952-9.707 3.198-3.19Zm-1.04-.952-3.113 3.107-.951-1.031 3.03-3.024 1.034.948Zm5.96-7.275a5.639 5.639 0 0 1-1.8-.293.707.707 0 0 0-.724.17L12.592 26.448a.702.702 0 0 0-.17.722 5.559 5.559 0 0 1-.769 5.08 5.575 5.575 0 0 1-4.573 2.342c-.206 0-.411-.011-.614-.033l2.237-2.216a.702.702 0 0 0 .209-.499v-1.99a.702.702 0 0 0-.207-.496l-2.017-2.013a.705.705 0 0 0-.498-.206H4.197a.706.706 0 0 0-.5.208l-2.22 2.233a5.676 5.676 0 0 1-.033-.613c0-1.832.855-3.495 2.347-4.565a5.587 5.587 0 0 1 5.09-.767c.253.085.533.02.722-.17.04-.038 13.935-13.907 13.945-13.916a.702.702 0 0 0 .17-.722 5.556 5.556 0 0 1 .767-5.078 5.576 5.576 0 0 1 4.575-2.344c.212 0 .423.012.632.035l-2.19 2.22a.702.702 0 0 0-.203.493v1.989c0 .182.07.357.197.488l1.947 2.013a.704.704 0 0 0 .506.215h1.993a.705.705 0 0 0 .5-.208l2.22-2.233c.023.203.034.408.034.613 0 3.102-2.529 5.625-5.636 5.625Z"/><path d="m21.98 13.103-8.816 8.799a.702.702 0 0 0 0 .994.705.705 0 0 0 .996 0l8.816-8.799a.702.702 0 0 0 0-.994.706.706 0 0 0-.996 0ZM30.882 31.781a.705.705 0 0 0 .997-.001.702.702 0 0 0-.002-.995l-6.35-6.317a.705.705 0 0 0-.996.002.702.702 0 0 0 .001.994l6.35 6.317Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h36v36H0z"/></clipPath></defs></svg>
        .services-screen__item-content
          p.services-screen__item-description Ремонт и регулировка механики, реставрация и изготовление меха, наладка регистров, подгонка ремней.
        .services-screen__item-button
          button(class="button services-screen__button") Список ремонтных работ
            <svg width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 7L1.51351 0L4.76837e-07 1.63333L4.97297 7L4.76837e-07 12.3667L1.51351 14L8 7Z"/>
            </svg>
      .services-screen__item
      .services-screen__item
