section.services-screen
  .container-custom
    h2.services-screen__title#services-screen Услуги
    .services-screen__grid
      .services-screen__item
      .services-screen__item
      .services-screen__item
