@font-face {
  font-weight: 400;
  font-family: MontserratAlternates;
  font-style: normal;
  src: url("../fonts/MontserratAlternates-Regular.woff2"), url("../fonts/MontserratAlternates-Regular.woff"), url("../fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: MontserratAlternates;
  font-style: normal;
  src: url("../fonts/MontserratAlternates-Bold.woff2"), url("../fonts/MontserratAlternates-Bold.woff"), url("../fonts/MontserratAlternates-Bold.ttf");
}
