section.steps-screen
  .container-custom
    h2.steps-screen__title(data-aos="fade-down" data-aos-duration="1300" data-aos-delay="200") 5 шагов к идеальному инструменту
    .steps-screen__grid
      .steps-screen__item.steps-item-1(data-aos="fade-right" data-aos-duration="500" data-aos-delay="400")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text 1
        .steps-screen__item-content
          p.steps-screen__item-title Звонок мастеру
          p.steps-screen__item-text Тел.: +7 (915) 806-76-49<br>с 9:00 до 20:00
      .steps-screen__item.steps-item-2(data-aos="fade-right" data-aos-anchor=".steps-item-1" data-aos-duration="500" data-aos-delay="700")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text 2
        .steps-screen__item-content
          p.steps-screen__item-title Диагностика инструмента
          p.steps-screen__item-text Тщательный осмотр, выявление проблемных участков.
      .steps-screen__item.steps-item-3(data-aos="fade-right" data-aos-anchor=".steps-item-2" data-aos-delay="1000")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text 3
        .steps-screen__item-content
          p.steps-screen__item-title Определение фронта работ
          p.steps-screen__item-text На основе проведенной диагностики и ваших пожеланий, составляем список работ. Согласовываем стоимость.
      .steps-screen__item.steps-item-4(data-aos="fade-right" data-aos-anchor=".steps-item-3" data-aos-duration="500" data-aos-delay="400")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text 4
        .steps-screen__item-content
          p.steps-screen__item-title Проведение работ
          p.steps-screen__item-text Мастер проводит утвержденные работы в обозначенный срок.
      .steps-screen__item.steps-item-5(data-aos="fade-right" data-aos-anchor=".steps-item-3" data-aos-duration="500" data-aos-delay="700")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text 5
        .steps-screen__item-content
          p.steps-screen__item-title Тестирование инструмента
          p.steps-screen__item-text Вы проверяете качество проделанной работы и наслаждаетесь отличным звуком.
      .steps-screen__item.steps-item-6(data-aos="fade-right" data-aos-anchor=".steps-item-3" data-aos-duration="500" data-aos-delay="1000")
        .steps-screen__item-circle
          p.steps-screen__item-circle-text.last-step-circle
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.8125 0.75H2.1875C1.02734 0.75 0.125 1.69531 0.125 2.8125V20.6875C0.125 21.8477 1.02734 22.75 2.1875 22.75H11.8125C12.9297 22.75 13.875 21.8477 13.875 20.6875V2.8125C13.875 1.69531 12.9297 0.75 11.8125 0.75ZM7 21.375C6.22656 21.375 5.625 20.7734 5.625 20C5.625 19.2695 6.22656 18.625 7 18.625C7.73047 18.625 8.375 19.2695 8.375 20C8.375 20.7734 7.73047 21.375 7 21.375ZM11.8125 16.7344C11.8125 17.0352 11.5547 17.25 11.2969 17.25H2.70312C2.40234 17.25 2.1875 17.0352 2.1875 16.7344V3.32812C2.1875 3.07031 2.40234 2.8125 2.70312 2.8125H11.2969C11.5547 2.8125 11.8125 3.07031 11.8125 3.32812V16.7344Z" fill="#FEFEFE"/>
            </svg>
        .steps-screen__item-content
          p.steps-screen__item-title Записаться на диагностику<br>
            a(href="#" class="steps-screen__phone-link") +7 (915) 806-76-49


