.footer {
  padding: 80px 0;
  color: $light-color;
  background-color: $dark-color;
}

.footer__title {
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__contacts-description {
  margin-bottom: 24px;
  text-indent: 16px;
}

.footer__contacts-phone-text,
.footer__contacts-email-text {
  margin-bottom: 0;
}

.footer__phone-link,
.footer__email-link {
  display: block;
  width: fit-content;
  color: $light-color;
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
}

.footer__link-margin {
  margin-bottom: 32px;
}

.footer__social-description {
  margin-bottom: 50px;
  text-indent: 16px;
}

.footer__social-icons-list {
  display: flex;
  gap: 36px;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.footer__social-icon {
  transition: 0.3s ease;
}

.footer__social-icons-link:active {
  opacity: 0.6;
}

.footer__social-icons-link:active .footer__social-icon {
  fill: $main-color;
}

.footer__site-author {
  display: flex;
  justify-content: center;
}

.author-link {
  color: $light-color;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    color: $light-color;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer__social-icons-link:hover .footer__social-icon {
    fill: $main-color;
  }

  .footer__phone-link,
  .footer__email-link {
    &:hover {
      color: $light-color;
    }
  }

  .author-link:hover {
    color: $main-color;
  }
}

@media (max-width: 768px) {
  .footer__grid {
    grid-template-columns: auto;
  }

  .footer__social-icons-list {
    justify-content: center;
  }

  .footer__phone-link,
  .footer__email-link {
    font-size: 22px;
  }
}
