extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Мастерская по ремонту и настройке гармоней, баянов и аккордеонов'; //- Title
  - var bodyClass = 'index-body' //- Классы для body

block content

block main
  main
    include ../blocks/main-screen/main-screen.pug
    include ../blocks/services-screen/services-screen.pug
    include ../blocks/steps-screen/steps-screen.pug
    include ../blocks/about-screen/about-screen.pug

block scripts
