section.delivery-screen
  .container-custom
    h2.delivery-screen__title#delivery-screen Доставка
    .delivery-screen__grid
      .delivery-screen__map-block
        button(class="delivery-screen__button" data-bs-toggle="modal" data-bs-target="#mapModal")
          <picture>
            <source srcset="img/photo/delivery-screen/map-link-img.avif" type="image/avif">
            <source srcset="img/photo/delivery-screen/map-link-img.webp" type="image/webp">
            <source srcset="img/photo/delivery-screen/map-link-img.jpg" type="image/jpg">
            <img width="100%" height="auto" class="delivery-screen__photo" src="img/photo/delivery-screen/map-link-img.jpg" alt="Фото карты Клинцов">
          </picture>
          p.delivery-screen__address
            <svg class="delivery-screen__gps-icon"  width="12" height="17" viewBox="0 0 12 17" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.375 15.6875C5.65625 16.125 6.3125 16.125 6.59375 15.6875C11.1562 9.125 12 8.4375 12 6C12 2.6875 9.3125 0 6 0C2.65625 0 0 2.6875 0 6C0 8.4375 0.8125 9.125 5.375 15.6875ZM6 8.5C4.59375 8.5 3.5 7.40625 3.5 6C3.5 4.625 4.59375 3.5 6 3.5C7.375 3.5 8.5 4.625 8.5 6C8.5 7.40625 7.375 8.5 6 8.5Z"/>
            </svg> Брянская область, г. Клинцы
      .delivery-screen__info-block
        p.delivery-screen__info-text Если вы находитесь в другом городе или регионе и у Вас нет возможности лично привезти инструмент, можно воспользоваться услугами транспортных компаний («Деловые линии», «СДЭК»). В пределах Брянской области могу лично осуществить доставку отремонтированного инструмента.
        .delivery-screen__delivery-company-block
          a(href="https://www.dellin.ru/" class="delivery-screen__delivery-company-link busines-lines-logo" target="_blank")
            img(class="delivery-screen__delivery-company-logo" src="img/photo/delivery-screen/delivery-busines-lines.png", alt="Логотип деловых линий")
          a(href="https://www.cdek.ru/ru" class="delivery-screen__delivery-company-link cdek-logo" target="_blank")
            img(class="delivery-screen__delivery-company-logo" src="img/photo/delivery-screen/delivery-cdek.png", alt="Логотип CDEK")

include ../map/map.pug
