.delivery-screen {
  padding: 80px 0;
  color: $dark-color;
  background-color: $light-color;
}

.delivery-screen__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
}

.delivery-screen__title {
  margin-bottom: 50px;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
}

.delivery-screen__photo {
  margin-bottom: 16px;
  border: 5px solid white;
  border-radius: 6px;
  box-shadow:
    -6px 6px 12px rgba(223 223 223 / 20%),
    6px -6px 12px rgba(223 223 223 / 20%),
    -6px -6px 12px rgba(255 255 255 / 90%),
    6px 6px 15px rgba(223 223 223 / 90%),
    inset 1px 1px 2px rgba(255 255 255 / 30%),
    inset -1px -1px 2px rgba(223 223 223 / 50%);
  transition: 0.3s ease;
}

.delivery-screen__button {
  color: $dark-color;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $main-color;
  }
}

.delivery-screen__gps-icon {
  margin-right: 10px;
  fill: $main-color;
}

.delivery-screen__address {
  display: flex;
  align-items: center;
  line-height: 0;
}

.delivery-screen__info-text {
  margin-bottom: 36px;
  text-indent: 16px;
}

.delivery-screen__delivery-company-block {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.delivery-screen__delivery-company-link {
  width: fit-content;
  transition: 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .delivery-screen__button:hover .delivery-screen__photo {
    filter: opacity(80%);
  }

  .delivery-screen__delivery-company-link:hover {
    opacity: 0.6;
  }
}

@media (max-width: 968px) {
  .delivery-screen__grid {
    grid-template-columns: auto;
  }

  .delivery-screen__address {
    justify-content: center;
  }

  .delivery-screen__delivery-company-block {
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
  }

  .delivery-screen__delivery-company-logo {
    width: 100%;
    height: auto;
  }
}
