section.numbers-screen#numbers-screen
  h2.visually-hidden Информация о мастерской
  .container-custom
    .numbers-screen__grid
      .numbers-screen__item
        p.numbers-screen__item-title.numbers(data-val="6") 6
        p.numbers-screen__item-description лет непрерывной работы<br> мастерской — ремонта<br> и востановления инструментов
      .numbers-screen__item
        p.numbers-screen__item-title.numbers(data-val="12") 12
        p.numbers-screen__item-description месяцев гарантии<br> на отремонтированные<br> или проданные инструменты
      .numbers-screen__item
        p.numbers-screen__item-title.numbers(data-val="350") 350
        p.numbers-screen__item-description отремонтированных баянов, <br>гармошек и аккордеонов
