section.numbers-screen
  .container-custom
    .numbers-screen__grid
      .numbers-screen__item
        p.numbers-screen__item-title 6
        p.numbers-screen__item-description лет непрерывной работы<br> мастерской — ремонта<br> и востановления инструментов
      .numbers-screen__item
        p.numbers-screen__item-title 12
        p.numbers-screen__item-description месяцев гарантии<br> на отремонтированные<br> или проданные инструменты
      .numbers-screen__item
        p.numbers-screen__item-title 350
        p.numbers-screen__item-description отремонтированных баянов, <br>гармошек и аккордеонов
