@import "variables";
@import "fonts/MontserratAlternates.scss";
@import "blocks/button/button.scss";
@import "blocks/header/header.scss";
@import "blocks/main-screen/main-screen.scss";
@import "blocks/services-screen/services-screen.scss";
@import "blocks/steps-screen/steps-screen.scss";
@import "blocks/about-screen/about-screen.scss";
@import "blocks/numbers-screen/numbers-screen.scss";
@import "blocks/gallery-screen/gallery-screen.scss";
@import "blocks/price-screen/price-screen.scss";

body {
  font-family: MontserratAlternates, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container-custom {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
