.galery-screen {
    background-color: $light;
}

.galery-grid {
    margin-top: 2rem;
}

.galery-screen-title {
    color: $dark;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: opacity(30%);
    filter: opacity(60%);
    transition-duration: 0.3s;
}

.thumb {
    padding: 5px;
}