.price-screen {
    background-color: $dark;
    color: $light;
}

.price-grid {
    margin-top: 3rem;
}

.price-img {
    width: 32rem;
    height: 22rem;
    border-radius: 4px;
    border: 3px solid $light;
    background-image: url(../img/price-screen.jpg);
    background-size: cover;
}

.price-item-description p {
    text-indent: 20px;
}

.price-doc {
    color: tomato;
    text-decoration: underline;
}

.price-doc:hover {
    color: tomato;
    text-decoration: none;
}


/* ----- Adaptation ----- */

@media (max-width: 767px) {
    /* стили для xs-устройств */

    .price-item-img {
        text-align: center;
    }

    .price-img {
        width: 18rem;
        height: 12rem;
        display: inline-block;
        margin-bottom: 1rem;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    .price-item-img {
        text-align: center;
    }

    .price-img {
        width: 100%;
        display: inline-block;
        margin-bottom: 1rem;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
    .price-img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    /* стили для lg-устройств */
    
}