.reviews-screen {
    background-color: $dark;
}

.reviews-screen-title {
    color: $light;
}

.carousel-item-bg {
    background-color: $dark;
    height: 450px;
    padding-top: 50px;
}

.reviews-item {
    background-color: $light;
    width: 420px;
    height: 330px;

    margin: 0 auto;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
}

.reviews-item-head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.reviews-item-avatar {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-size: cover;
}

.rw1 {
    background-image: url(../img/reviews_avatar/samoluk.png);
}

.rw2 {
    background-image: url(../img/reviews_avatar/zareckiy.png);
}

.rw3 {
    background-image: url(../img/reviews_avatar/handozhko.png);
}

.rw4 {
    background-image: url(../img/reviews_avatar/moroz.png);
}

.rw5 {
    background-image: url(../img/reviews_avatar/goncharov.png);
}


.reviews-item-title {
    padding-left: 1rem;
}

.reviews-item-title > h5 {
    margin-bottom: 0px;
}

.reviews-item-title > p {
    margin-bottom: 0px;
}

.reviews-item-description {
    height: 200px;
}

.reviews-icon {
    color: $dark;
}

.reviews-icon:hover {
    text-decoration: none;
}

.odnoklassniki-icon:hover {
    color: #ee8208;
}

.carousel-control-prev, .carousel-control-next {
    font-size: 1.75rem;
}

/* ----- Adaptation ----- */

@media (max-width: 767px) {
    /* стили для xs-устройств */
    .reviews-item {
        width: 290px;
        height: 400px;
    }

    .reviews-item-description {
        height: 286px;
    }

    .carousel-item-bg {
        height: 490px;
        padding-top: 20px;
    }

    .carousel-control-next, .carousel-control-prev {
        top: 432px;
    }

    .reviews-item-avatar {
        width: 45px;
        height: 45px;
    }

    .reviews-item-title > h5 {
        font-size: 1rem;
    }

    .reviews-item-title > p {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
}

@media (min-width: 1200px) {
    /* стили для lg-устройств */   
}