@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";
@import "bootstrap";
@import "vars";
@import "animate";

@import "navbar";
@import "header";
@import "services";
@import "modal_window";
@import "steps";
@import "about";
@import "numbers";
@import "galery";
@import "price";
@import "reviews";
@import "useful-info";
@import "phone";
@import "footer";

body {
    font-family: 'MontserratAlternates-Regular', sans-serif;
}

header, footer, .services-screen, .steps-screen, .numbers-screen, .about-screen, .galery-screen, .price-screen, .useful-info-screen, .reviews-screen, .phone-screen {
    padding-top: 74px;
    padding-bottom: 74px;
}

h2 {
    text-align: center;
}



/* ----- Adaptation ----- */

@media (max-width: 767px) {
  .phone-grid > h2 {
      font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */


}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */

}

@media (min-width: 1200px) {
    /* стили для lg-устройств */
    
}