.useful-info-screen {
    background-color: $light;
}

.useful-info-screen-title {
    margin-bottom: 2rem;
    color: $dark;
}

.useful-info-item {
    padding: 16px;
    margin: 0px 5px 25px 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
}

.useful-info-item:hover {
    background-color: white;
    transition-duration: 0.3s;
}

.useful-info-item-head {
    display: flex;
    justify-content: space-between;
}

.useful-info-item-head img {
    height: 1.9rem;
}

.useful-info-item-description p {
    height: 142px;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.useful-info-link {
    color: tomato;
    text-decoration: underline;
}

.useful-info-link:hover {
    color: tomato;
    text-decoration: none;
}

/* ----- Adaptation ----- */

@media (max-width: 767px) {
    /* стили для xs-устройств */
    .useful-info-item-description p {
        height: 240px;
    }

    .useful-info-item {
        background-color: white;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    .useful-info-item-description p {
        height: 210px;
    }

    .useful-info-item {
        background-color: white;
        margin-bottom: 2rem;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
}

@media (min-width: 1200px) {
    /* стили для lg-устройств */   
}