section.about-screen
  .container-custom
    h2.about-screen__title#about-screen О мастерской
    .about-screen__grid
      .about-screen__info
        p.about-screen__text Здравствуйте! Меня зовут Алексей Кузнецов. Живу и работаю в г. Клинцы Брянской области. Я занимаюсь ремонтом язычковых музыкальных инструментов, таких как: баяны, гармони и аккордеоны. Ремонтирую как фабричные инструменты, так и любительские.
        p.about-screen__text Перечень выполняемых работ можно посмотреть в разделе <a href="#services-screen" class="about-screen__link-in-text">"Услуги"</a> . Диагностику инструмента произвожу в присутствии владельца. Мы сразу обговариваем виды и объёмы ремонта.
        p.about-screen__text У меня в продаже постоянно имеются гармони, баяны, аккордеоны, прошедшие капитальный ремонт.
        .about-screen__shop-button-block
          a(href="https://www.avito.ru/user/8916f0745e0a7fe0cc3e300deff82001/profile?id=1858307133&src=item&page_from=from_item_card&iid=1858307133" target="_blank" class="button about-screen__shop-link")  Просмотреть доступные инструменты на продажу
            <svg width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 7L1.51351 0L4.76837e-07 1.63333L4.97297 7L4.76837e-07 12.3667L1.51351 14L8 7Z"/>
            </svg>
      .about-screen__photo-block
        .about-screen__master-photo
          <picture>
            <source srcset="img/photo/master-photo.avif, img/photo/master-photo-x2.avif 2x" type="image/avif">
            <source srcset="img/photo/master-photo.webp, img/photo/master-photo-x2.webp 2x" type="image/webp">
            <source srcset="img/photo/master-photo.jpg, img/photo/master-photo-x2.jpg 2x" type="image/jpg">
            <img src="img/photo/master-photo.jpg" alt="Фотография мастера">
          </picture>
        .about-screen__master-name
          p Алексей Кузнецов<br><b>мастер</b>
